---
# Main CSS file
---

@import "minima";

.nav-favicon {
  float: left;
  padding-right: 1rem;
  padding-top: 4px;
}

.base-photo {
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  aspect-ratio: 1/1;
  margin-bottom: 1rem;
}
